h1{
  text-align: center;
}

h2{
  text-align: center;

}

#table{

  margin: auto;
}

td{
  padding: 10px;
  height: 100px;
  width: 100px;
  border-radius: 150px;
  border: black solid 5px;
  text-align: center;

}

.turnBlue{

  background: blue;
}
.turnRed{

  background: red;
